* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0ce682;
}

a:hover {
    color: white;
}

html {
    font-size: 14px;
}

.show {
    display: flex !important;
    opacity: 1 !important;
}

.hide {
    opacity: 0;
    pointer-events: none;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
/*--CATEGORY LIST--*/
#add_button {
    background-color: #041721;
    color: #0ce682;
}

    #add_button:hover {
        color: white;
    }
/*--PRODUCT LIST--*/

/*--SHOP--*/
#shop {
    width: 90%;
    margin: 0 auto;
}

#product_order {
    position: relative;
    margin-bottom: 2em;
    background-color: #ffde3c;
    width: 15em;
    height: 3em;
    padding-left: 10px;
}

    #product_order a {
        color: black;
    }

.cacsanpham {
    position: relative;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.sach {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 60px;
}

    .sach img {
        width: 100%;
        height: 297px;
    }


#author_name {
    font-size: 17px;
    color: black;
    font-weight: 900;
    text-align: center;
}

#price {
    font-size: 17px;
    color: #f90000;
    font-weight: 700;
    text-align: center;
    margin-top: -12px;
}

#state {
    font-size: 17px;
    color: #fb6400;
    font-weight: 500;
    text-align: center;
    margin-top: -12px;
}

/*CUSTOMIZATION OF SHOP IMG*/
.sach_img {
    overflow: hidden;
    position: relative;
}

    .sach_img .hover_img_product {
        margin: -20px 0 0 -50px;
        position: absolute;
        width: 280px;
        height: 380px;
        top: 0;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        cursor: pointer;
    }

.hover_img_product > ul > li .icon_product {
    text-decoration: none;
    color: black;
    width: 45px;
    height: 45px;
    font-size: 16px;
    background: rgba(255, 229, 33, 0.80);
    margin: 0 5px;
    border: 7px solid white;
}

    .hover_img_product > ul > li .icon_product:hover {
        background-color: #0ce682;
    }

.hover_img_product > ul > li .eye {
    left: unset;
    right: 0;
}

.hover_img_product ul {
    list-style: none;
    display: flex;
    position: relative;
}

#hover_for_img_product:hover .hover_img_product {
    animation-name: hover_img_product_animation;
    animation-duration: 0.5s;
    background-color: rgba(255, 229, 33, 0.80);
    opacity: 1;
}

/*SHOP LEFT*/
.shop_left {
    position: relative;
    width: 20%;
    float: left;
}

.left_section {
    margin-bottom: 25px;
}

.cart {
    width: 100px;
    height: 35px;
    background-color: #097040;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
}

    .cart p {
        font-size: 23px;
        font-weight: 500;
        color: white;
        display: inline-block;
        justify-content: center;
        text-transform: uppercase;
        transform: skew(-10deg);
        margin: 3px 17px;
    }

.section_content hr {
    border: 2px solid #a7a3a3;
    margin-left: 2px;
    color: #097040;
}

.cart_content {
    margin: 20px 0;
    height: 50px;
    border: 2px solid #097040;
    border-radius: 8px;
}

    .cart_content p {
        font-size: 17px;
        padding: 10px;
    }

.author {
    width: 140px;
    height: 35px;
    background-color: #097040;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
}

    .author p {
        font-size: 23px;
        font-weight: 500;
        color: white;
        display: inline-block;
        justify-content: center;
        text-transform: uppercase;
        transform: skew(-10deg);
        margin: 3px 14px;
    }

.author_checkbox {
    width: 130px;
    height: 35px;
    background-color: #097040;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
}

    .author_checkbox p {
        font-size: 23px;
        font-weight: 500;
        color: white;
        display: inline-block;
        justify-content: center;
        text-transform: uppercase;
        transform: skew(-10deg);
        margin: 3px 14px;
    }

.author_content {
    margin: 20px 0;
    width: 100%;
    height: 300px;
    border: 2px solid #097040;
    border-radius: 8px;
    overflow-y: scroll; /* Tạo scroll */
}

    /* Làm mất thanh lăn scroll và tự design thanh lăn */
    .author_content::-webkit-scrollbar {
        width: 7px;
    }

    .author_content::-webkit-scrollbar-thumb {
        background-color: #097040;
        border-radius: 5px;
        height: 2px;
    }

    .author_content > ul {
        list-style: none;
        padding: 0 !important;
    }

        .author_content > ul > li label:hover {
            color: #097040;
            font-weight: 900;
        }

.author_checkbox {
    width: 10px;
}
/* Thực hiện vẽ dấu tích chữ L xoay nghiêng đối với checkbox mới đã tự design
dựa trên checkbox mặc định */

.author_content > ul > li input[type="checkbox"]:checked ~ label::after {
    width: 8px;
    height: 4px;
    border-left: 2px solid #097040;
    border-bottom: 2px solid #097040;
    rotate: -45deg;
}


/* Căn chỉnh cho cái dấu tích vào đúng vị trí cái ô
   tích đã vừa tạo ra  
   - Vì dấu tích là after của label nên sử dụng ::after để căn chỉnh */
.author_content > ul > li label::after {
    position: absolute;
    top: 8px;
    left: 10px;
}


/* Căn chỉnh dấu tích do mình tự làm ra 
   - Căn chỉnh dấu tích nằm trên 1 hàng so với chữ */
.author_content > ul > li label {
    margin: 3px;
    user-select: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}



.author_content > ul > li:nth-child(1) label {
    margin-top: 20px;
    user-select: none;
    position: relative;
    display: inline-flex;
    align-items: center;
}

/* Có tác dụng đồng bộ checkbox vừa tự tao với checkbox default của html */
.author_content > ul > li label::after,
.author_content > ul > li label::before {
    content: "";
    display: inline-block;
}

/* dùng before để tạo hình vuông giống với checkbox */
.author_content > ul > li label::before {
    width: 12px;
    height: 12px;
    border: 1px solid rgb(146, 143, 143);
    border-radius: 10px;
    margin: 0 5px;
}


.price p {
    font-size: 23px;
    font-weight: 500;
    color: white;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    transform: skew(-10deg);
    margin: 3px 16px;
}

.price {
    width: 200px;
    height: 35px;
    background-color: #097040;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
}

.price_content {
    margin: 20px 0;
    width: 100%;
    height: 150px;
    border: 2px solid #097040;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .price_content p {
        font-size: 17px;
        padding: 10px;
    }

.price_range {
    background-color: #cbc2B9;
    width: 250px;
    margin: 5px auto 100px auto;
    height: 5px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #9d968f;
    position: relative;
}

.range_input input {
    /* -webkit-appearance: none; : hủy bỏ các giá trị design mặc định của input 
       - Sử dụng thuộc tính absolute để căn chỉnh vị trí của input dựa vào thằng price_range
       - background-color: transparent; : thấy được thằng đằng sau của 2 nút range là 
       thanh range*/
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: transparent;
    pointer-events: none;
}

    /* Trỏ đến các điểm tròn của input
    bằng ::-webkit-slider-thumb */
    .range_input input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #fb6400;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        /* box-shadow: inset 0 0 1px #097040; */
        /* Muốn mỗi lần kéo 2 điểm tròn thì value thay đổi */
        pointer-events: auto;
        cursor: pointer;
    }

/* Tạo khoảng giao nhau giữa 2 nút */
.progress {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #fb6400;
    border-radius: 5px;
    background-attachment: fixed;
    cursor: pointer;
}

/* Chỉnh vị trí của các chữ */
.range_text div {
    position: absolute;
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    top: 30px;
    transform: translateY(-50%);
}

/* Chỉnh text_max không dựa vào left nữa 
    nên sẽ dùng left: unset */
.range_text .text_max {
    left: unset;
    right: 0;
}

.filter input[type="submit"] {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 130%);
    /* margin-top: 20px; */
    width: 150px;
    height: 40px;
    color: white;
    background-color: #fb6400;
    font-weight: 800;
    letter-spacing: 1.2px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

    .filter input[type="submit"]:hover {
        color: #fb6400;
        background-color: white;
        transition: all 0.6s ease;
        border: 8px solid #fb6400;
    }

/*Các ưu đãi của shop*/
.benefit_shop {
    position: relative;
    width: 100%;
    border-top: 4px solid #0ce682;
}

.return,
.authentic,
.freeship {
    position: relative;
    width: 35%;
    margin-top: 2%
}

.icon_benefit {
    width: 20%;
    font-size: 50px;
    color: #0ce682;
}

.text_benefit {
    font-size: 14px;
    font-weight: 500;
}

/*--CRUD OPERATION--*/

#delete_input {
    background-color: rgba(239, 215, 145);
}

/*--DETAILS--*/
.badge {
    border-radius: 10px;
    background-color: rgba(243, 156, 18);
}

#title_author {
    border-radius: 10px 10px 0 0;
    background-color: #041721;
}
/*--AUTHENTICATION--*/
#logout:hover {
    color: white;
}

/*--REGISTER--*/
.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}


/*--BEST SELLERS--*/
#bestseller_container {
    padding-top: 0.5%;
    background-image: url(../img/web_img/bg-services.png);
    background-repeat: no-repeat;
}

#bestseller_title {
    font-size: 50px;
    font-weight: 700;
}

/*--POPULAR AUTHOR--*/
#popular_author {
    position: relative;
    width: 100%;
    height: 560px;
    background-image: url(../img/web_img/bg-clients.jpg);
    background-position: center bottom;
    background-size: cover;
    margin: 2% 0 5% 0;
}

#popular_author h4 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    padding-bottom: 10px;
}

#popular_author p {
    font-size: 18px;
    color: white;
}

#popular_author p:nth-child(3) {
    margin-top: -15px;
    padding-bottom: 20px;
}
#popular_author input {
    position: absolute;
    top: 65%;
    text-decoration: none;
    color: white;
    background-color: #0ce682;
    cursor: pointer;
    line-height: 26px;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1.2px;
    border-color: #0ce682;
    border-width: 7px;
    border-style: solid;
    padding: 7px;
}

#popular_author input:hover {
    color: #0ce682;
    background: transparent;
    transition: all 0.5s ease;
    border: 12px solid #0ce682;
}

#ourservice{
    margin-bottom: 6%;
}

#title p {
    font-size: 50px;
    font-weight: 700;
}

#service_icon {
    margin-bottom: 30px;
    color: #0ce682;
    font-size: 57px;
}

#service_name {
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
}
#service1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#service_name{
    margin-top: -20px;
}
/*--NẠP VIP--*/
.vip_level{
    color: white;
}
.napvip{
    width: 100%;
    height: 100vh;
    background-image: url(../img/web_img/1-1.png);
    background-size: cover;
    background-position: center bottom;
}
#napvip_title {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3.75em;
    padding-bottom: 30px;
}
#icon_basic{
    width: 82px;
    height: 110px;
    fill: white;
}
.basic,
.plus,
.special {
    width: 380px;
    height: 351.99px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.basic:hover,
.plus:hover,
.special:hover {
    transform: scale(1.1);
}

.basic {
    background-color: #06eaf3;
    margin: 0 15px;
}

.plus {
    background-color: #0ce682;
    margin: 0 15px;
}

.special {
    background-color: #ffde3c;
    margin: 0 15px;
}
.basic p,
.plus p,
.special p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.3px;
    font-size: 15px;
    font-weight: 700;
}
.basic input[type="submit"] {
    margin: 20px 90px;
    background-color: #06eaf3;
}

.plus input[type="submit"] {
    margin: 20px 90px;
    background-color: #0ce682;
}

.special input[type="submit"] {
    margin: 20px 90px;
    background-color: #ffde3c;
}

.basic input[type="submit"],
.plus input[type="submit"],
.special input[type="submit"] {
    width: 196px;
    height: 60px;
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
    line-height: 26px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.2px;
    border: 10px solid white;
}

.basic input[type="submit"]:hover,
.plus input[type="submit"]:hover,
.special input[type="submit"]:hover {
    color: #0ce682;
    background-color: white;
    transition: all 0.9s ease;
}

.vip_title {
    
    float: inline-start;
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vip_title p {
    font-size: 18px;
    font-weight: 900;
   
}
#gia_vip {
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
}
#vip_descript{
    margin-top: -15px;
}

                                                    /*LOGIN*/
#login_page, #dangky_page{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%; 
}

/*MEDIA*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}