* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*Components*/
@import 'components/font.css';
@import 'components/book.css';
/*Layout*/
@import 'layout/layout.css';
@import 'layout/mega_menu.css';
/*Pages*/
@import 'pages/detail.css';
@import 'pages/index.css';
@import 'pages/sachtheochude.css';
@import 'pages/thanhtoan.css';
@import 'pages/giohang.css';
@import 'pages/thongtincanhan.css'