@import 'components/font.css';
@import 'components/book.css';
@import 'layout/layout.css';
@import 'layout/mega_menu.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Components*/
/*Layout*/
