@import 'components/font.css';
@import 'components/book.css';
@import 'layout/layout.css';
@import 'layout/mega_menu.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
    height: 100%;
}

body {
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}
main{
    flex: 1;
}

/*Components*/
/*Layout*/
