@model List<ChuDe>

@* 

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Danh sách thể loại
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ChuDe" asp-action="Upsert" class="btn" id="add_button"> 
                <i class="bi bi-plus-circle"></i> Tạo mới
            </a>
        </div>
    </div>
</div>
<table id="ChuDeTable" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Tên thể loại
        </th>
        <th>
            Số thứ tự
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td class="w-50">@obj.Name</td>
                <td class="w-50">@obj.DisplayOrder</td>
                <td class="align-items-center text-center">
                    <div class="btn-group" role="group">
                        <a asp-controller="ChuDe" asp-action="Upsert" asp-route-id="@obj.Id" class=" btn btn-primary mx-2" style="border-radius: 15px;height: 45px;">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a id="delete_button" onClick="Delete('/admin/ChuDe/delete/@obj.Id')" class="btn btn-danger mx-2" style="border-radius: 15px;height: 45px;">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts{
    <script src="~/js/ChuDe.js"></script>
} *@