@model ChuDe


<li class="chude_item">
    @if (Model.MaChuDe != 0)
    {
        <a asp-controller="Home" asp-action="SachTheoChuDe" asp-route-id="@Model.MaChuDe">@Model.TenChuDe</a>
    }

    @if (Model.Children is not null && Model.Children.Any())
    {
        <ul class="child_chude_list">
            @foreach(var childChuDe in Model.Children)
            {
                @await Html.PartialAsync("_ChuDeTuongUngPartial", childChuDe);
            }
        </ul>
    }
</li>