

@foreach (Sach sach in Model.DanhSachSach)
{
    <div class="book">
        <div class="book_img">
            <img src="@sach.ImageUrl" alt="Ảnh sách" />
            <div class="book_img_hover">
                <ul class="book_icon_container">
                    <li>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@sach.MaSach" class="direct_detail_icon book_icon">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="direct_cart_icon book_icon">
                            <i class="bi bi-cart-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="ten_sach montserrat-regular">@Truncate(sach.TenSach, 15)</p>
        <p class="ten_tacgia montserrat-bold">@HienThiDongGia(sach.GiaBan)</p>
    </div>
}