@model IEnumerable<TacGia>
<div class="wrapper">
    <section class="author-section content_block">

        <div class="author-slider">

            <div class="author-list-viewport">

                <div class="author-list">
                    @foreach (TacGia tacGia in Model)
                    {
                        <div class="author-item">
                            <a asp-action="LaySachTheoTacGia" asp-controller="Home" asp-route-id="@tacGia.MaTacGia">
                                <img src="/img/tac_gia/@(tacGia.TenTG.XoaDauTiengViet().Replace(' ', '-')).jpg" alt="@tacGia.TenTG img">
                                <span class="author-name">@tacGia.TenTG</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

