@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h1>Chào mừng đến trang quản trị 👑</h1>
    <p>Đây là nội dung của trang Index Admin.</p>
</div>
