
/*--CỐ ĐỊNH HEADER--*/
#co_dinh_header{
    z-index: 1000;
}
#co_dinh_header.sticky {
    top: 0;
    background-color: #041721;
    opacity: 1;
    animation-name: animation_co_dinh_header;
    animation-duration: 0.3s;
    height: 82px;
    position: sticky;
}

#co_dinh_header.sticky #header_logo {
    margin-top: -20px;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

#co_dinh_header.sticky #header_logo p {
    font-size: 12px;
    line-height: 42px;
    margin-left: -12px;
}

#co_dinh_header.sticky #bottom_header_right > ul.navbar-nav {
    margin-top: -20px;
}

@keyframes animation_co_dinh_header {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

                                                    /*BACK TOP*/

#backtop_container {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0ce682;
}
#backtop_container:hover{
    transform: scale(1.12);
    transition: all 0.5s ease;
}
#backtop {
    top: 8px;
    left: 8px;
    width: 45px;
    height: 45px;
    color: #ffde3c;
    background-color: #041721;
    cursor: pointer;
}
#backtop:hover {
    color: #041721;
    background-color: #ffde3c;
} 

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


                                                        /*FOOTER*/
footer {
    width: 100%;
    line-height: 4.5vw;
    background-color: #041721;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

footer p {
    color: white;
}

#logo_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social_media{
    display: flex;
    justify-content: center;
}

    #social_media ul {
        padding-left: unset;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2vw;
        height: 3.5vw;
 
    }


    #social_media ul li a {
        padding: 1vw;
        font-size: 1.3vw;
        border-radius: 8px;
    }

        #social_media ul li a i{
            color: white;
        }

#fb {
    background-color: #3b5999;
}

#yt {
    background-color: #cd201f;
}

#x {
    background-color: #14171a;
}

#ins {
    background-color: #e4405f;
}

#github {
    background-color: #171515;
}

                                                    