
/*--CỐ ĐỊNH HEADER--*/
.co_dinh_header {
    width: 100%;
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt cho các thuộc tính khác */
    z-index: 999;
}
    .co_dinh_header.sticky {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #041721; /* Màu nền khi scroll */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Đổ bóng để nổi bật */
        /* Animation trượt từ trên xuống */
        animation: slideDown 0.35s ease-out forwards;
    }
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

                                                    /*BACK TOP*/
#backtop_container {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0ce682;
    z-index: 99999;

    /* Ẩn mặc định */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px); /* Dịch xuống dưới 1 chút */
    transition: all 0.4s ease;
}

#backtop_container:hover{ 
    transform: scale(1.12);
    transition: all 0.5s ease;
}

    #backtop_container.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); /* Trượt lên vị trí gốc */
    }

#backtop {
    top: 8px;
    left: 8px;
    width: 45px;
    height: 45px;
    color: #ffde3c;
    background-color: #041721;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.2s;
}

#backtop:hover {
    color: #041721;
    background-color: #ffde3c;
} 

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


                             