<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebBanSach</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/web_img/logo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/khachangdangnhapdangky.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/khachangdangnhapdangky.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/WebBanSach.styles.css" asp-append-version="true" />
    @RenderSection("PageStyles", required: false)
</head>

<body>

    <header>
        <div id="top_header">
            @*Top header left*@
            <!-- Logo và tên -->
            <a asp-area="Customer" asp-controller="Home" asp-action="TrangChu">
                <img id="logo" src="~/img/web_img/logo.png" alt="Logo">
            </a>


            <!-- Form tìm kiếm -->
            <form action="/" method="post" id="search_box">
                @await Component.InvokeAsync("ChuDeMenu")

                <input type="text" id="search_bar" placeholder="Bạn muôn tìm gì?" />
                <button type="button" id="search_button" style="color: #0ce682;"><i class="bi bi-search"></i></button>
            </form>

            <div id="top_header_right">
                <!-- Đăng nhập -->
                <partial name="_LoginPartial" />

                <!-- Giỏ hàng -->
                @await Component.InvokeAsync("GioHang")
            </div>
        </div>
        <div id="bottom_header">
            <!-- Nav items -->
            <ul id="bottom_header_right">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <li>
                        <div class="dropdown">
                            <a class="dropbtn montserrat-bold" style="text-transform: uppercase;">Các mục khác</a>

                            <div class="dropdown-content">
                                <a class="dropdown-item montserrat-regular" asp-area="Admin" asp-controller="Category" asp-action="Index">Thể loại</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item montserrat-regular" asp-area="Admin" asp-controller="Product" asp-action="Index">Sản phẩm</a>
                                <hr class="dropdown-divider">
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        @RenderSection("SliderMenu", required: false)

    </header>

    <main role="main" class="">
        <partial name="_Notification" />
        @RenderBody()
    </main>

    <div id="backtop_container" class="rounded-circle d-flex justify-content-center align-items-center">
        <div id="backtop" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="bi bi-caret-up-fill"></i>
        </div>
    </div>


    <footer>
        <div id="logo_footer">
            <img src="~/img/web_img/logo.png" alt="logo" />
            <p class="montserrat-bold">CỬA HÀNG SÁCH ĐIỆN TỬ</p>
        </div>

        <div id="social_media">
            <ul>
                <li>
                    <a href="https://www.facebook.com/long.tranduy.106" id="fb">
                        <i class="bi bi-facebook bi-3x"></i>
                    </a>
                </li>
                <li >
                    <a href="https://www.youtube.com/" id="yt">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="" id="x">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tranduylong2k5/" id="ins">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/MrTDL123" id="github">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p>Bản quyền thuộc về <a asp-controller="#" asp-action="#" style="color: #0ce682;">Trần Duy Long</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/yfm2tzcw10n183a3sq1ddo8j7btx6a161wqkyashxwwo4l45/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#backtop_container').click(function () {
                $('html, body').animate(
                    {
                        scrollTop: 0
                    }, 500);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var scrollPosition = $(this).scrollTop()
                var threshold = 200
                if (scrollPosition >= 200) {
                    $('#co_dinh_header').css({
                        "position": "fixed",
                        "width": "100%"
                    }).addClass('sticky')
                }
                else {
                    $('#co_dinh_header').css({
                        "position": "relative",
                        "width": "100%"
                    }).removeClass('sticky')
                }
            })
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>