<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectCuoiKi</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*     <link rel="stylesheet" href="~/ProjectCuoiKi.styles.css" asp-append-versison="true" /> *@ 
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/web_img/logo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    @RenderSection("PageStyles", required: false)
</head>

<body>

    <header>
        <div id="top_header">
            @*Top header left*@

            <!-- Form tìm kiếm -->
            <form action="/" method="post" id="search_box">
                <button type="button" id="search_button"><i class="bi bi-search"></i></button>
                <input type="text" id="search_bar" placeholder="Bạn muôn tìm gì?" />
            </form>

            <!-- Đăng nhập -->
            <partial name="_LoginPartial" />

            <!-- Giỏ hàng -->
            <a class="montserrat-regular" asp-controller="Home" asp-action="Shop"><i class="bi bi-cart-fill"></i> Giỏ hàng</a>
        </div>
        <hr>

        <div id="bottom_header">
            <!-- Logo và tên -->
            <div id="bottom_header_left">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="~/img/web_img/logo.png" alt="Logo">
                </a>
                <p class="montserrat-bold">Cửa hàng sách điện tử</p>
            </div>

            <!-- Nav items -->
            <ul id="bottom_header_right">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <li>
                        <div class="dropdown">
                            <a class="dropbtn montserrat-bold" style="text-transform: uppercase;">Các mục khác</a>

                            <div class="dropdown-content">
                                <a class="dropdown-item montserrat-regular" asp-area="Admin" asp-controller="Category" asp-action="Index">Thể loại</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item montserrat-regular" asp-area="Admin" asp-controller="Product" asp-action="Index">Sản phẩm</a>
                                <hr class="dropdown-divider">
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        @RenderSection("SliderMenu", required: false)

    </header>

    <main role="main" class="">
        <partial name="_Notification" />
        @RenderBody()
    </main>

    <div id="backtop_container" class="rounded-circle d-flex justify-content-center align-items-center">
        <div id="backtop" class="rounded-circle d-flex justify-content-center align-items-center">
            <i class="bi bi-caret-up-fill"></i>
        </div>
    </div>


    <footer class="border-top footer text-muted d-flex flex-column align-items-center text-center py-4">
        <div id="logo_footer" class="mb-2 pt-4">
            <img src="~/img/web_img/logo.png" alt="logo" />
            <p>CỬA HÀNG SÁCH ĐIỆN TỬ</p>
        </div>

        <div id="social_media" class="mb-3">
            <ul class="navbar-nav flex-row justify-content-between">
                <li class="nav-item">
                    <a href="https://www.facebook.com/long.tranduy.106" class="fb">
                        <i class="bi bi-facebook bi-3x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/" class="yt">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="x">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/tranduylong2k5/" class="ins">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/MrTDL123" class="github">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p>Bản quyền thuộc về <a asp-controller="#" asp-action="#">Trần Duy Long</a></p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/yfm2tzcw10n183a3sq1ddo8j7btx6a161wqkyashxwwo4l45/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $(document).ready(function () {
            $('#backtop_container').click(function () {
                $('html, body').animate(
                    {
                        scrollTop: 0
                    }, 500);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var scrollPosition = $(this).scrollTop()
                var threshold = 200
                if (scrollPosition >= 200) {
                    $('#co_dinh_header').css({
                        "position": "fixed",
                        "width": "100%"
                    }).addClass('sticky')
                }
                else {
                    $('#co_dinh_header').css({
                        "position": "relative",
                        "width": "100%"
                    }).removeClass('sticky')
                }
            })
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>