@using Microsoft.AspNetCore.Identity
@inject SignInManager<TaiKhoan> SignInManager
@inject UserManager<TaiKhoan> UserManager

<nav id="authentication">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="account-menu">
            <a asp-area="Customer" asp-controller="KhachHang" asp-action="ThongTinCaNhan" class="account-wrapper" style="text-decoration:none;">
                <i class="bi bi-person-circle account-icon"></i>
                <span class="account-text">
                    @{
                        var hoTen = User.FindFirst("HoTen")?.Value;
                        @hoTen;
                    }
                </span>
            </a>
            
            <div class="account-dropdown">
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("TrangChu", "Home", new { area = "Customer" })">
                    <button type="submit" class="account-btn">Đăng xuất</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="account-menu">
            <a class="account-wrapper" style="text-decoration:none;">
                <i class="bi bi-person-circle account-icon"></i>
                <span class="account-text">Tài khoản</span>
            </a>
            <div class="account-dropdown">
                <a asp-area="Customer" asp-controller="KhachHang" asp-action="DangNhap" class="account-btn">Đăng nhập</a>
                <a asp-area="Customer" asp-controller="KhachHang" asp-action="DangKy" class="account-btn">Đăng ký</a>
            </div>
        </div>
    }
</nav>