
/*SLIDE CONTAINER*/
#slide_container {
    display: grid;
    height: 58vh;
    width: 100%;
    z-index: 1;
}

#slide1,
#slide2,
#slide3 {
    display: none;
    grid-row-start: 1;
    grid-column-start: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*SLIDE 1*/
#slide1 {
    z-index: 1;
    position: relative;
    flex-direction: row;
}



#background_book_slide1 {
    display: grid;
    width: 30%;
    justify-content: center;
    align-items: center;
}

    #background_book_slide1 img {
        grid-row-start: 1;
        grid-column-start: 1;
    }

#book_slide1 {
    height: 25vw;
    z-index: 2;
    justify-self: center;
    opacity: 0;
    animation-fill-mode: forwards; /* Giữ trạng thái cuối của animation */
    animation-name: slideshow1_book;
    animation-duration: 0.7s;
}

#background_slide1 {
    height: 39vw;
    z-index: 1;
    position: relative;
    top: -5vw;
    right: 10vw;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: slideshow1_background;
    animation-duration: 0.7s;
}

#content_slide1 {
    z-index: 3;
}

    #content_slide1 div {
        margin-bottom: 35px;
    }

#line1_slide1,
#line2_slide1 {
    color: #ffde3c;
    line-height: 0.3;
    text-transform: uppercase;
}

#line1_slide1 {
    font-size: 1.5rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-name: slideshow1_line1;
    animation-duration: 1s;
}

#line2_slide1 {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    font-size: 3rem;
    text-shadow: rgb(0, 0, 0) 0px -15px 40px;
    animation-name: slideshow1_line2;
    animation-duration: 1s;
}

#descript1,
#descript2 {
    font-size: 0.7rem;
    line-height: 0.3;
    color: white;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    animation-name: slideshow1_p;
    animation-duration: 3s;
}


.button {
    width: 12rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    animation-name: slideshow1_button;
    animation-duration: 1s;
}

    .button a {
        background-color: #0ce682;
        border-color: #0ce682;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-size: 0.6rem;
        border-width: 0.2rem;
        border-style: solid;
        padding: 0.8rem;
        cursor: pointer;
    }

    .button:hover a {
        color: #0ce682;
        background-color: #041721;
        transition: all 1s ease;
        transform: scale(1.1);
    }

/*SLIDE 2*/
#slide2 {
    z-index: 2;
    position: relative;
    top: 9vh;
}

.item_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2vh;
    animation-name: slideshow2_line1;
    animation-duration: 0.5s;
}

#calendar_graph {
    width: 23%;
    opacity: 0;
    animation-fill-mode: forwards; /* Giữ trạng thái cuối của animation */
    animation-delay: 0.0s;
}

#graph {
    width: 6vw;
    height: 4.5vw;
}

#calendar {
    width: 4vw;
    height: 4vw;
}

#lock_volume,
#cup_mail {
    width: 37%;
}

#lock_volume {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

#cup_mail {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

#cup {
    width: 3.3vw;
    height: 2.5vw;
}

#mail {
    width: 4vw;
    height: 2.3vw;
}

#lock {
    width: 3vw;
    height: 4vw;
}

#volume {
    width: 4.3vw;
    height: 4vw;
}

#cart_phone {
    width: 48%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

#cart {
    width: 4vw;
    height: 3.6vw;
}

#phone {
    width: 2.3vw;
    height: 4vw;
}

#note_message {
    width: 28%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#note {
    width: 3vw;
    height: 4.5vw;
}

#message {
    width: 6vw;
    height: 3.5vw;
}

#computer {
    position: relative;
    top: 9vw;
}


#img_computer {
    width: 40vw;
    height: 12vw;
    animation-name: slideshow2_line1;
    animation-duration: 1s;
}

#slogan_computer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan_slide2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#slogan_background {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

    #slogan_background img:nth-child(1),
    #slogan_background img:nth-child(2),
    #slogan_background img:nth-child(3) {
        animation-name: slideshow2_line1;
        animation-duration: 1s;
    }


    #slogan_background img:nth-child(1) {
        position: absolute;
        height: 5vw;
        top: 6vh;
        z-index: 1;
    }

    #slogan_background img:nth-child(2) {
        position: absolute;
        top: 3vh;
        height: 10vw;
        z-index: 3;
    }

    #slogan_background img:nth-child(3) {
        height: 24vw;
        position: absolute;
        left: 3vw;
        top: -10vh;
        z-index: 1;
    }


#line1_slide2 {
    font-size: 0.5vw;
    line-height: 6;
    animation-name: slideshow2_img;
    animation-duration: 2.5s;
}

#line2_slide2,
#line3_slide2,
#line4_slide2 {
    color: #ffde3c !important;
    line-height: 0.7;
    animation-name: slideshow2_line1;
    animation-duration: 1s;
}

#line2_slide2 {
    font-size: 2vw;
    z-index: 0;
}

#line3_slide2 {
    font-size: 2.5vw;
    z-index: 2;
    text-shadow: rgb(0, 0, 0) 0px -15px 40px;
}

#line4_slide2 {
    font-size: 3vw;
    z-index: 4;
    text-shadow: rgb(0, 0, 0) 0px -15px 40px;
}

#quote {
    font-size: 0.6vw;
    position: absolute;
    top: 3.5vw;
    left: 15.2vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #quote p {
        animation-name: slideshow2_img;
        animation-duration: 2.5s;
    }

    #quote p,
    #slogan_slide2 p {
        margin-bottom: 0;
        color: white;
        text-transform: uppercase;
    }



/*SLIDE 3*/
#slide3 {
    z-index: 3;
    position: relative;
    width: 100%;
    top: 3vw;
}

#clouds {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#small_clouds {
    z-index: 1;
    width: 65%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

    #small_clouds img {
        animation-name: slideshow3_bigcloud;
        animation-duration: 1s;
    }

#small_cloud1 {
    height: 17vw;
    z-index: 1;
}

#small_cloud2 {
    height: 9vw;
    position: absolute;
    top: 4vw;
    left: 13vw;
    z-index: 2;
}

#small_cloud3 {
    align-self: center;
    height: 3vw;
    margin-right: 5vw;
}

#big_cloud {
    height: 33vw;
    z-index: 0;
    animation-name: slideshow3_bigcloud;
    animation-duration: 1.4s;
}

#slide3_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#book_icon {
    width: 13vw;
    animation-name: slideshow1_p;
    animation-duration: 2.5s;
}

#letters {
    display: flex;
    flex-direction: row;
    letter-spacing: 1.5vw;
}

    #letters p {
        color: white;
        font-size: 7vw;
        animation-name: slideshow3_letters;
        animation-duration: 1s;
    }

#B {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

#O_1 {
    z-index: 1;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

#O_2 {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#K {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
}

#S {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
}

#slogan_slide3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.7vw;
    font-size: 0.8vw;
    text-transform: uppercase;
    margin-bottom: 1vw;
    z-index: 3;
}

    #slogan_slide3 p {
        animation-name: slideshow1_p;
        animation-duration: 2s;
    }

#line1_slide3 {
    color: #ffde3c;
}

#line2_slide3 {
    color: white;
}

/*BUTTON CHUYỂN SLIDE*/
#btn_slide_container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 0.3;
    padding: 1rem 5%;
    top: 50%;
    z-index: 4;
}

#btn_slideleft,
#btn_slideright {
    font-size: 2.5vw;
    cursor: pointer;
}

    #btn_slideleft:hover,
    #btn_slideright:hover {
        transition: all ease 0.5s;
        color: aqua;
    }

/*SÁCH BÁN NHIỀU*/
#sach_ban_nhieu_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5%;
}

#sach_ban_nhieu_container h1 {
    font-size: 3vw;
    padding-bottom: 3rem;
}

#flash_sell{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: yellow;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

    #flash_sell img{
        width: 2rem;
        margin-right: 0.5rem;
    }

    #flash_sell p {
        margin-bottom: unset;
        margin-right: 0.5rem;
    }

#countdown {
    display: flex;
    gap: 5px;
    color: white;
}

.time-block {
    background-color: #041721;
    padding: 5px 10px;
    border-radius: 10px;
}

    .time-block span {
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

/*KEYFRAME SLIDE 1*/
@keyframes slideshow1_book {
    from {
        opacity: 0;
        transform: translate(20%, 10%) scale(0.1);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slideshow1_background {
    from {
        opacity: 0;
        transform: translate(-10%, -40%) scale(0.1);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slideshow1_line1 {
    from {
        opacity: 0;
        transform: translateY(-300%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slideshow1_line2 {
    from {
        opacity: 0;
        transform: translateY(-150%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slideshow1_p {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideshow1_button {
    from {
        opacity: 0;
        transform: translateY(250%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

/*KEYFRAME SLIDE 2*/
@keyframes slideshow2_line1 {
    from {
        opacity: 0;
        transform: translate(0, 15%) scale(1.5);
    }

    to {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes slideshow2_img {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*KEYFRAME SLIDE 3*/
@keyframes slideshow3_bigcloud {
    from {
        opacity: 0;
        transform: translate(0, 0) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slideshow3_letters {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hover_img_product_animation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
