@model List<Sach>



<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Danh sách sản phẩm
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn" id="add_button">
                <i class="bi bi-plus-circle"></i> Tạo mới
            </a>
        </div>
    </div>
</div>
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}