@model ProductVM

@* <div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradien m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2">@(Model.Sach.Id!=0?"Cập nhập":"Tạo") sản phẩm</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <input asp-for="Sach.Id" hidden />
                <input asp-for="Sach.ImageUrl" hidden/>
                <div class="row">
                    <div class="col-10">
                        <div class="border p-3">
                            <div class="mb-3 row">
                                <label asp-for="Sach.TenSach" class="p-1"></label>
                                <input asp-for="Sach.TenSach" class="form-control" />
                                <span asp-validation-for="Sach.TenSach" class="text-danger"></span>
                            </div>

                            <div class="mb-3 row">
                                <label asp-for="Sach.MoTa" class="p-1"></label>
                                <textarea asp-for="Sach.MoTa" class="form-control"></textarea>
                            </div>

                            <div class="mb-3 row">
                                <label asp-for="Sach.TacGia.TenTG" class="p-1"></label>
                                <input asp-for="Sach.TacGia.TenTG" class="form-control" />
                                <span asp-validation-for="Sach.TacGia.TenTG" class="text-danger"></span>
                            </div>

                            <div class="mb-3 row">
                                <label asp-for="Sach.GiaBan" class="p-1"></label>
                                <input asp-for="Sach.GiaBan" class="form-control" />
                                <span asp-validation-for="Sach.GiaBan" class="text-danger"></span>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="Sach.ChuDeId" class="p-1"></label>
                                <select asp-for="Sach.ChuDeId" asp-items="@Model.CategoryList" class="form-select">
                                    <option disabled selected>--Select Category--</option>
                                </select>
                                <span asp-validation-for="Sach.ChuDeId" class="text-danger"></span>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="Sach.ImageUrl" class="p-1"></label>
                                <input type="file" name="file" class="form-control" /> @*Khi mà input là dạng file thì cần phải thêm tag namde của file đấy
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    @if (Model.Sach.Id != 0)
                                    {
                                        <button type="submit" class="btn form-control btn-primary">Cập nhập</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn form-control btn-primary">Tạo</button>
                                    }

                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Sach" asp-action="Index" class="btn btn-outline-secondary border form-control">
                                        Quay về
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-2">
                        <img src="@Model.Sach.ImageUrl" width="100%" style="border-radius:5px ; border: 1px solid #bbb9b9">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div> *@

@* @section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image lists table visualblocks wordcount ',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} *@