.active {
    color: #f0ad4e !important;
    font-weight: 600;
}

header {
    background-color: #041721;
    max-height: 100vh;
}

header a:hover {
    color: white;
}

#top_header {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 5%;
}

#logo{
    width: 2.5rem;
}

#top_header a {
    color: #0ce682;
}

#top_header a:hover {
    color: white;
}

#top_header_right {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#search_box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-radius: 1rem;
    width: 50%;
    justify-content: flex-end;
}

#search_bar {
    position: relative;
    width: 40%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    flex-grow: 0.5;
}

#search_button {
    width: 6%;
    border: none;
    border-radius: 10px;
    background-color: #041721;
}

#danh_muc_dropdown {
    color: #0ce682;
    padding-right: 1rem;
}

#danh_muc_dropdown:hover{
    cursor: pointer;

}

#danh_muc_dropdown:nth-child(1) {
    font-size: 1.2rem;
}

.hide {
    display: none;
    opacity: 0;
}

.show {
    display: flex !important;
    opacity: 1;
}


#authentication {
    display: flex;
}

#manage {
    margin-right: 5px;
}

#logout {
    border: none;
    background-color: transparent;
    margin-left: 5px;
    color: #0ce682;
}

#logout:hover {
    color: white;
    cursor: pointer;
}


/*FOOTER*/
footer {
    width: 100%;
    line-height: 4.5vw;
    background-color: #041721;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    flex-shrink: 0;
}

footer p {
    color: white;
}

#logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_footer img{
    padding-top: 1rem;
}